html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(330.64deg, #9356DC, #FF79DA);
  animation: fade 1s ease 1s forwards;
}
.loading--spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}
.loading--spinner div {
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 100%;
  display: inline-block;
  animation: spinner 1.4s infinite ease-in-out both;
}
.loading--spinner-bounce1 {
  animation-delay: -0.32s;
}
.loading--spinner-bounce2 {
  animation-delay: -0.16s;
}

@keyframes fade {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spinner {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
.nav__container {
  position: relative;
  width: 100%;
  height: 65px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.nav__container .arrow {
  position: absolute;
  left: 20px;
  font-size: 22px;
  color: black;
}
.nav__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__logo {
  margin-top: 10px;
  width: 50%;
  max-width: 150px;
}
.nav__logo img {
  width: 100%;
}

/* HOME ----------------------------------------------------------- */
.home--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.home--sub-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
}
.home--btn {
  outline: none;
  border: none;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 25px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(330.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  transition: 0.5s ease all;
}
.home--btn a {
  height: 30px;
  color: white;
}
.home--btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.home__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home__location {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  padding: 20px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #353535;
}
.home__location i {
  margin-right: 10px;
}
.home__explore {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background: #F7F7F7;
}
.home__explore h1 {
  margin-bottom: 10px;
}
.home__explore span {
  margin-bottom: 30px;
}
.home__working {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
}
.home__working h1 {
  margin-bottom: 25px;
}
.home__working__steps {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 95%;
}
.home__working__step {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  border-radius: 20px;
  padding: 30px 20px;
  background: #F7F7F7;
  margin-bottom: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}
.home__working__step i {
  margin-left: 15px;
  margin-right: 15px;
  color: #727272;
}
.home__working__step:hover {
  background: #F5EDFF;
}
.home__working__step:hover i {
  color: #9356DC;
}
.home__working__step-number {
  position: absolute;
  left: -12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #9356DC;
  color: white;
  font-weight: 300;
}
.home__restaurants {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  background: #F7F7F7;
}
.home__restaurants h1 {
  margin-bottom: 25px;
}
.home__restaurants--title {
  font-weight: bold;
}
.home__restaurants--name {
  font-weight: 300;
}
.home__restaurants__items {
  display: flex;
  flex-direction: column;
}
.home__restaurants__item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.home__restaurants__item--new {
  z-index: 2;
  position: absolute;
  top: 13px;
  right: 12px;
  background: #99E2D0;
  padding: 7px 10px;
  color: #008766;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.home__restaurants__item--image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.home__restaurants__item--image img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateY(-50%) translateX(-50%);
}
.home__restaurants__item .item__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.home__restaurants__item .item__info .info-left {
  width: 90%;
  margin-right: 30px;
}
.home__restaurants__item .item__info i {
  font-size: 25px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .home__working {
    padding-left: 100px;
  }
  .home__working__steps {
    width: 100%;
    flex-direction: row;
  }
  .home__working__step {
    width: 400px;
    margin-right: 50px;
  }
  .home__restaurants {
    padding-left: 100px;
  }
  .home__restaurants__items {
    flex-direction: row;
    overflow-x: auto;
  }
  .home__restaurants__item {
    margin-right: 20px;
    height: 200px;
  }
  .home__restaurants__item--image {
    height: 200px;
  }
}

.restaurant__image {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 275px;
}
.restaurant__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant__content {
  z-index: 1;
  margin-top: -40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 31px 17px;
  background: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
}
.restaurant__content__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__content__head--title {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}
.restaurant__dishes--title {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 7px;
}
.restaurant__dishes--title::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 40px;
  height: 3px;
  background: #99E2D0;
}
.restaurant__dishes--btn {
  width: 200px;
  margin-top: 40px;
  margin-bottom: 9px;
  align-self: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  outline: none;
  border: none;
  border-radius: 25px;
  padding: 15px 16px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s ease all;
}
.restaurant__dishes--btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.restaurant__dishes__content__list {
  display: flex;
  flex-direction: column;
}
.restaurant__dishes--item {
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 68px;
  padding: 12px 11px;
  margin-top: 14px;
  transition: 0.5s ease all;
  animation: fadeInFromBottom 1s ease-in-out;
  animation-fill-mode: backwards;
}
@keyframes fadeInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.restaurant__dishes--item:nth-of-type(1) {
  animation-delay: 0s;
}
.restaurant__dishes--item:nth-of-type(2) {
  animation-delay: 0.2s;
}
.restaurant__dishes--item:nth-of-type(3) {
  animation-delay: 0.4s;
}
.restaurant__dishes--item:nth-of-type(4) {
  animation-delay: 0.6s;
}
.restaurant__dishes--item__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: calc(100% - 30px);
  transition: 0.5s ease all;
}
.restaurant__dishes--item--name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.restaurant__dishes--item--detail {
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
}
.restaurant__dishes--item--name, .restaurant__dishes--item--detail {
  transition: 0.5s ease all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.restaurant__dishes--item--price {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  align-self: flex-end;
  margin-right: 17px;
}
.restaurant__dishes--item--validation {
  transition: 0.5s ease all;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-right: -72px;
  height: calc(100% + 28px);
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  color: white;
}
.restaurant__dishes--item--validation svg {
  transition: 0.5s 0.1s ease all;
}
.restaurant__dishes--item:hover .restaurant__dishes--item__content {
  width: calc(100% - 90px);
}
.restaurant__dishes--item:hover .restaurant__dishes--item--validation {
  justify-self: flex-end;
  margin-right: -12px;
}
.restaurant__dishes--item:hover .restaurant__dishes--item--validation svg {
  rotate: 360deg;
}
@media (min-width: 768px) {
  .restaurant__container {
    display: flex;
    flex-direction: column;
  }
  .restaurant__image {
    height: 400px;
  }
  .restaurant__content {
    width: 80%;
    align-self: center;
    padding: 50px 200px;
  }
  .restaurant__content__head {
    display: flex;
    justify-content: center;
  }
  .restaurant__content__head--title {
    margin-right: 24px;
  }
}

.heart-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  transition: 0.5s ease all;
}
.heart-icon i {
  position: absolute;
}
.heart-icon:hover .heart {
  opacity: 1;
  visibility: visible;
}
.heart-icon .heart {
  margin-left: 1px;
  font-size: 24px;
  transition: 0.5s ease all;
  opacity: 0;
  visibility: hidden;
}
.heart-icon .heart::before {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #353535;
  color: white;
  padding: 25px;
}
.footer__items {
  display: flex;
  flex-direction: column;
}
.footer--item {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
}
.footer--item i {
  margin-right: 5px;
}
.footer--logo {
  filter: brightness(0) invert(1);
  width: 100px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .footer__container {
    flex-direction: row-reverse;
  }
  .footer__items {
    flex-direction: row-reverse;
  }
  .footer--item {
    margin-right: 20px;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */